:root {
  --light-color: #f9f7f4;
  --dark-color: #333;
  --title-font: "Outfit Variable", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
